@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="index-hero block-first"> <div class="container"> <div class="row row-hero"> <div class="col-md-9 col-lg-8 col-xl-7 col-hero"> <h1>Create stunning forms inside of WordPress.</h1> <p>Build powerful, deeply customizable form experiences and store collected data <strong>all right inside your WordPress.</strong></p> <div> <a href="pricing/" class="button button-large">Get Tripetto Now</a> </div> <small>Also create surveys, quizzes, registration forms, exams and so much more with Tripetto.</small> </div> </div> </div> </section>
